body {
  margin: 0;
  overflow: hidden;
}
body interface {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
  height: 45vh;
  border: 3px solid black;
}
.hid {
  display: none;
}
#codeblock{
  width: 30%;
  height: 30%;
  font-size: 0.8em;
  resize: none;
  overflow-y: scroll;
  border: none;
  position: absolute;
  top: 10%;
  right: 10%;
}
